@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* || GENERAL STYLES */
html
{
    background-color: #F8F8FE;
}

label{
  font-size: 1.5vw;
  font-family: NunitoRegular;
  color: #54575f;
}

/* || UTILITIES - FONTS */
@font-face 
{
    font-family: "NunitoExtraBold";
    src: url("fonts/Nunito-ExtraBold.ttf");
}

@font-face 
{
    font-family: "NunitoBold";
    src: url("fonts/Nunito-Bold.ttf");
}

@font-face 
{
    font-family: "NunitoSemiBold";
    src: url("fonts/Nunito-SemiBold.ttf");
}

@font-face 
{
    font-family: "NunitoMedium";
    src: url("fonts/Nunito-Medium.ttf");
}

@font-face 
{
    font-family: "NunitoRegular";
    src: url("fonts/Nunito-Regular.ttf");
}

@font-face 
{
    font-family: "NunitoLight";
    src: url("fonts/Nunito-Light.ttf");
}

/* || SITEWIDE */
.temp{
  background-color: #F8F8FE;
}

.topPadding{
  padding-top: 6vw;
}

.pageTitle{
  font-size: 4.5vw;
  font-family: NunitoBold;
  color: #5379F6;
}

/* || DROPDOWN */
.dropbtn
{
  color: #5379F6;
  background-color: white;
  padding: 0.5vw 1vw 0.5vw 2vw;
  width: 50%;
  text-align: left;
  font-size: 2vw;
  border-style: solid;
  border-width: 0.2vw;
  border-color: rgb(83, 121, 246);
  border-radius: 2vw;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: NunitoSemiBold;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("../assets/img/dropdown_blue.png");
  background-repeat: no-repeat;
  background-position-x: 93%;
  background-position-y:center;
  background-size: 4%;
}

.field{
  background-color: #cecece;
  border-radius: 2vw;
  font-size: 1.5vw;
  font-family: NunitoRegular;
  padding: 0.5vw 1vw 0.5vw 1vw;
}

.btn{
  background-color: #5379F6;
  color: white;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.reverse{
  background-color: white;
  color: #5379F6;
  border: 1px #cecece solid;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


/*
@media (min-width: 1024px) {
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
*/